
.stat_name{
  font-size:16px;
  font-family: "微軟正黑體";
  color:#FFFFFF
}
.stat_info{
  font-size: 75px;
  text-align: right;
  font-family: "微軟正黑體";
  color:#FFFFFF
}
.admin_title{
  font-size: 32px;
  font-family: "微軟正黑體";
}
.admin_content{
  font-size:16px;
}


.gridly {
  position: relative;
  width: 100%;
}

.brick.info{
  width: 250px;
  height: 125px;

}
.d1{
  background:#E67E22;
}
.d2{
  background:#27AE60;
}
.d3{
  background:#2980B9;
}
.d4{
  background:#C0392B;
}

.brick.large {
  width: 515px;
  height: 125px;
}
.brick.enormous {
  width: 515px;
  height: 388px;
  background: ;
}
